In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
referral= pd.read_csv ("referrals.csv")

In [4]:
referral

,id,created_at,updated_at,company_id,partner_id,consultant_id,status,is_outbound
0,1,1.598956e+18,1.598956e+18,385,4,4,successful,0
1,2,1.599105e+18,1.599105e+18,390,7,8,successful,0
2,3,1.599105e+18,1.599105e+18,387,7,8,successful,0
3,4,1.599105e+18,1.599105e+18,385,7,8,successful,0
4,5,1.599106e+18,1.599106e+18,331,8,9,successful,0
...,...,...,...,...,...,...,...,...
1465,1466,1.620185e+18,1.620185e+18,1180,519,570,successful,0
1466,1467,1.620185e+18,1.620185e+18,1235,519,570,successful,0
1467,1468,1.620185e+18,1.620185e+18,0,184,327,pending,0
1468,1469,1.620205e+18,1.620205e+18,1248,67,571,successful,0
1469,1470,1.620207e+18,1.620207e+18,0,51,84,pending,0

# converting from  Unix Nano format to Datetime

In [5]:
referral= referral.astype({'created_at':'datetime64[ns]', 'updated_at': 'datetime64[ns]'})

In [6]:
referral

,id,created_at,updated_at,company_id,partner_id,consultant_id,status,is_outbound
0,1,2020-09-01 10:25:18.374779904,2020-09-01 10:25:18.374779904,385,4,4,successful,0
1,2,2020-09-03 03:51:22.516150016,2020-09-03 03:51:22.516150016,390,7,8,successful,0
2,3,2020-09-03 03:54:09.006400000,2020-09-03 03:54:09.006400000,387,7,8,successful,0
3,4,2020-09-03 03:55:56.931170048,2020-09-03 03:55:56.931170048,385,7,8,successful,0
4,5,2020-09-03 03:59:32.272379904,2020-09-03 03:59:32.272379904,331,8,9,successful,0
...,...,...,...,...,...,...,...,...
1465,1466,2021-05-05 03:23:11.251869952,2021-05-05 03:23:11.251869952,1180,519,570,successful,0
1466,1467,2021-05-05 03:23:34.138490112,2021-05-05 03:23:34.138490112,1235,519,570,successful,0
1467,1468,2021-05-05 03:25:10.870400000,2021-05-05 03:25:10.870400000,0,184,327,pending,0
1468,1469,2021-05-05 09:01:12.094860032,2021-05-05 09:01:12.094860032,1248,67,571,successful,0
1469,1470,2021-05-05 09:29:38.364499968,2021-05-05 09:29:38.364499968,0,51,84,pending,0

In [7]:
referral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1470 non-null   int64
 1   created_at     1470 non-null   datetime64[ns]
 2   updated_at     1470 non-null   datetime64[ns]
 3   company_id     1470 non-null   int64
 4   partner_id     1470 non-null   int64
 5   consultant_id  1470 non-null   int64
 6   status         1470 non-null   object
 7   is_outbound    1470 non-null   int64
dtypes: datetime64[ns](2), int64(5), object(1)
memory usage: 92.0+ KB

In [8]:
referral["created_at"] = pd.to_datetime(referral["created_at"])

In [9]:
referral["updated_at"] = pd.to_datetime(referral["updated_at"])

In [10]:
referral["updated_at"]

0      2020-09-01 10:25:18.374779904
1      2020-09-03 03:51:22.516150016
2      2020-09-03 03:54:09.006400000
3      2020-09-03 03:55:56.931170048
4      2020-09-03 03:59:32.272379904
                    ...
1465   2021-05-05 03:23:11.251869952
1466   2021-05-05 03:23:34.138490112
1467   2021-05-05 03:25:10.870400000
1468   2021-05-05 09:01:12.094860032
1469   2021-05-05 09:29:38.364499968
Name: updated_at, Length: 1470, dtype: datetime64[ns]

In [12]:
referral['created_date']= pd.DatetimeIndex(referral.created_at).date
referral['updated_date']= pd.DatetimeIndex(referral.updated_at).date

In [13]:
referral

,id,created_at,updated_at,company_id,partner_id,consultant_id,status,is_outbound,created_date,updated_date
0,1,2020-09-01 10:25:18.374779904,2020-09-01 10:25:18.374779904,385,4,4,successful,0,2020-09-01,2020-09-01
1,2,2020-09-03 03:51:22.516150016,2020-09-03 03:51:22.516150016,390,7,8,successful,0,2020-09-03,2020-09-03
2,3,2020-09-03 03:54:09.006400000,2020-09-03 03:54:09.006400000,387,7,8,successful,0,2020-09-03,2020-09-03
3,4,2020-09-03 03:55:56.931170048,2020-09-03 03:55:56.931170048,385,7,8,successful,0,2020-09-03,2020-09-03
4,5,2020-09-03 03:59:32.272379904,2020-09-03 03:59:32.272379904,331,8,9,successful,0,2020-09-03,2020-09-03
...,...,...,...,...,...,...,...,...,...,...
1465,1466,2021-05-05 03:23:11.251869952,2021-05-05 03:23:11.251869952,1180,519,570,successful,0,2021-05-05,2021-05-05
1466,1467,2021-05-05 03:23:34.138490112,2021-05-05 03:23:34.138490112,1235,519,570,successful,0,2021-05-05,2021-05-05
1467,1468,2021-05-05 03:25:10.870400000,2021-05-05 03:25:10.870400000,0,184,327,pending,0,2021-05-05,2021-05-05
1468,1469,2021-05-05 09:01:12.094860032,2021-05-05 09:01:12.094860032,1248,67,571,successful,0,2021-05-05,2021-05-05
1469,1470,2021-05-05 09:29:38.364499968,2021-05-05 09:29:38.364499968,0,51,84,pending,0,2021-05-05,2021-05-05

In [14]:
referral= referral.drop(['created_at','updated_at'],axis=1)

In [15]:
referral

,id,company_id,partner_id,consultant_id,status,is_outbound,created_date,updated_date
0,1,385,4,4,successful,0,2020-09-01,2020-09-01
1,2,390,7,8,successful,0,2020-09-03,2020-09-03
2,3,387,7,8,successful,0,2020-09-03,2020-09-03
3,4,385,7,8,successful,0,2020-09-03,2020-09-03
4,5,331,8,9,successful,0,2020-09-03,2020-09-03
...,...,...,...,...,...,...,...,...
1465,1466,1180,519,570,successful,0,2021-05-05,2021-05-05
1466,1467,1235,519,570,successful,0,2021-05-05,2021-05-05
1467,1468,0,184,327,pending,0,2021-05-05,2021-05-05
1468,1469,1248,67,571,successful,0,2021-05-05,2021-05-05
1469,1470,0,51,84,pending,0,2021-05-05,2021-05-05

In [16]:
referral.to_csv('referralB.csv',index=False)